@media (min-width: 1200px){

}
@media (min-width: 992px){
     /* nav-bar */
     .e-mail{
        display: none;
    }
    /* .checkbtn { */
        display: block;
        font-size: 5rem;
        position: absolute;
        top: 30px;
        left: 40px;
        }
       
}
@media (min-width: 786px){
   
}
@media (min-width: 576px){

}
@media(min-width: 344px){

}
