@media(max-width:1200px) {

}

@media(max-width:992px) {
  .e-mail {
    display: none;
  }
  .navbar-nav{
    font-size: 25px;
    background-color: #2A1454;
    margin: 0;
    gap:0;
    text-transform: uppercase;
    
  }
  .btn-hire{
    display: block;
  }
  .nav-btn{
    position: relative;
    
  }
  .btn-hire{
    position: absolute;
    top:23px;
    left:9rem;
    position: fixed;
  
  }
  .navbar{
    padding: 1rem 0rem;
    

  }
  .navbar-nav .nav-link{
    padding-left: 1rem;
  }
  

}

@media(max-width:769px) {
 

}



@media(max-width:344px) {
 


}